{block head}
	<!-- Material Dashboard CSS -->
	<link href="{$basePath}/css/material-dashboard.css" rel="stylesheet"/>
{/block}

{block content}

<div class="wrapper">
	<form class="form-signin thank-you-page text-center">
		<h2 class="form-signin-heading">
			<i class="material-icons">favorite</i>
			<br>Thank you for your feedback</h2>
		<a href="/" class="btn btn-lg btn-primary btn-block" type="submit">Let's create your own</a>
	</form>
</div>
