dbal:
	driver: mysqli
	host: 127.0.0.1
	username: whateverbox
	password: whateverbox
	database: whateverbox


mail:
    smtp: true
    host: smtp.postmarkapp.com
    port: 587
    username: 37d516d1-146f-4e23-abf3-49d77930b898
    password: 37d516d1-146f-4e23-abf3-49d77930b898
    secure: tls
    timeout: 10
