{block head}
	<link rel="stylesheet" href="{$basePath}/css/simple-line-icons.css">
	<!-- Material Dashboard CSS -->
	<link href="{$basePath}/css/material-dashboard.css" rel="stylesheet"/>
{/block}

{block scripts}
	{include parent}
	<script src="{$basePath}/js/awesome-landing-page.js" type="text/javascript"></script>
	<script src="{$basePath}/js/create-poll-form.js"></script>
{/block}

{block content}
{control createPollForm}
