{block content}

<form n:name="postForm">
	<input n:name="text" placeholder="Co se vám honí hlavou?" />
	<input n:name="send" />
</form>

<div data-refresh-url="{link refresh!}" n:snippet="posts" class="ut-posts">
	{foreach $posts as $post}
		<h1>{$post->author->email}</h1>
		<p><em>{$post->createdAt|date:'d.m.Y H:i:s'}</em></p>
		<p>{$post->text}</p>
	{/foreach}
</div>
