{block navbar}
{/block}

{block content}
<div class="wrapper">
	<form class="form-signin thank-you-page text-center">
		<h2 class="form-signin-heading">
			<i class="material-icons">favorite</i>
			<br>Thank you for your feedback
		</h2>
		<a n:href="Register:" class="btn btn-lg btn-primary btn-block" type="submit">Let's create your own form</a>
	</form>
</div>
