{block head}
	<!-- Material Dashboard CSS -->
	<link href="{$basePath}/css/material-dashboard.css" rel="stylesheet"/>
{/block}

{block content}

<div class="wrapper">
	<form class="form-signin" n:name="signUpForm">

		<h2 class="form-signin-heading">Set your password</h2>
		<input n:name="password" class="form-control" placeholder="Password" required=""/>
		<input n:name="send" class="btn btn-lg btn-primary btn-block">
	</form>
</div>
