body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}


body {
  background: #eee !important;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.new-category {
	display: flex;
	flex-wrap: wrap;
}

.new-category label {
	flex-grow: 1;
	flex-basis: 100%;
}

.new-category input {
	flex-basis: 50%;
	flex-grow: 1;
}

.new-category .btn {
	margin-left: 10px;
}

/* thank you page */
.thank-you-page {
	margin-top: 80px;
}

.thank-you-page .material-icons {
	color: #dd4b39;
	font-size: 90px;
}

/* admin */
.ct-chart-pie .ct-label {
	fill: rgba(255,255,255,.8);
	dominant-baseline: central;
	font-size: 1em;
}
.result-details {
	list-style-type: none;
	padding: 0;
}
.result-details li {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 20px 0;
}
.result-details li .material-icons {
	font-size: 12px;
	color: #333333;
}
.result-details li span {
	font-size: 12px;
}
.boxes img {
	max-width: 100%;
}

.topheading {
	font-weight: bold;
	color: black;
}
/* text rotator */
.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #444;
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #fdc846;
	-webkit-animation: rotateWord 6s linear infinite 0s;
	-ms-animation: rotateWord 6s linear infinite 0s;
	animation: rotateWord 6s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
.rw-words-1 span:nth-child(3) {
	-webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.rw-words-1 span:nth-child(4) {
	-webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
/*.rw-words-1 span:nth-child(5) {*/
	/*-webkit-animation-delay: 12s;*/
	/*-ms-animation-delay: 12s;*/
	/*animation-delay: 12s;*/
/*}*/
/*.rw-words-1 span:nth-child(6) {*/
	/*-webkit-animation-delay: 15s;*/
	/*-ms-animation-delay: 15s;*/
	/*animation-delay: 15s;*/
/*}*/
@-webkit-keyframes rotateWord {
	0% { opacity: 0; }
	2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
	17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
	0% { opacity: 0; }
	2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
	17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes rotateWord {
	0% { opacity: 0; }
	2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
	17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

/* homepage */
header .header-content .header-content-inner {
	width: 100%;
}
